@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgb(65, 223, 223);
}



.register {
  padding: 20px;
}

.register-input {
  margin: 7px;
}

.register-button {
  margin-top: 30px;
  margin-left: 37%;
  width: 25%;
}

.title {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.title:hover{
  opacity: 0.8;
  transform: scale(1.08);
  transition: ease-in-out 0.2s;
}

